.spreadsheet-container {
  max-height: 400px;
  height: auto;

  margin: 10px;
}
.spreadsheet-menu {
  background-color: #d8d4d4;
}
.table-meta {
  padding-top: 15px;
  -webkit-box-shadow: inset 0px 3px 10px 0px rgba(122,121,122,1);
  -moz-box-shadow: inset 0px 3px 10px 0px rgba(122,121,122,1);
  box-shadow: inset 0px 3px 10px 0px rgba(122,121,122,1);
}
.hot-table {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.table-meta-wrapper {
  display: flex;
  position: relative;
  height: 100%;
}
.table-meta-icons {
  justify-content: flex-end;
  flex: 0;
  background-color: #f7f7f7;
  padding: 10px;
  padding-bottom: 30px;
}
.table-meta-items {
  flex: 1;
}
.table-meta-icon {
  cursor: pointer;
  color: #C7C7C7;
}
.show-panel-button {
  position: absolute;
  margin: 15px;
  bottom: 0;
  right: 0;
  z-index: 10000;
}