snack-bar-container.snack-dev {
  background-color: #b37c26;
}
snack-bar-container.snack-dev:before {
  content: "Dev";
}
.aside {
  position: absolute;
  min-width: 60%;
  max-width: 60%;
  right: -15px;
  z-index: 1000;
}