snack-bar-container.snack-dev {
  background-color: #b37c26;
}
snack-bar-container.snack-dev:before {
  content: "Dev";
}

md-sidenav {
  min-width: 50%;
  max-width: 80%;
}

.router-wrapper {
  height: 90vh;
  overflow-y: scroll;
}

.sidenav-close {
  font-size: 1.5em;
  color: grey;
}
.sidenav-close i {
  position: relative;
  float: right;
  margin: 5px;
}
.global-wrapper {
  display: table;
  position: absolute;
  height: 100%;
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
}
.close-router-panel-icon {
  display: flex;
  flex-direction: row-reverse;
}
.close-router-panel-icon i {
  color: #c7c7c7;
  padding-top: 5px;
  padding-right: 5px;
  cursor: pointer;
}